aiohappyeyeballs
aiohttp
aiosignal
altair
appnope
asttokens
async-timeout
attrs==25.1.0
blinker==1.9.0
blis
Brotli
cachetools==5.5.2
catalogue
certifi==2025.1.31
cffi
charset-normalizer==3.4.1
click==8.1.8
colorama
comm
commonmark==0.9.1
confection
contourpy
cycler
cymem
datasets
debugpy
decorator
dill
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints
exceptiongroup
executing
filelock
fonttools
frozenlist
fsspec
future
gitdb==4.0.12
GitPython==3.1.44
gmpy2
h2
hpack
huggingface_hub
hyperframe
idna==3.10
importlib_metadata==8.6.1
importlib_resources
ipykernel
ipython
jedi
Jinja2==3.1.5
joblib
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client
jupyter_core
kiwisolver
langcodes
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline
mdurl==0.1.2
mpmath
multidict
multiprocess
munkres==1.1.4
murmurhash
narwhals==1.28.0
nest_asyncio
networkx
nltk
numpy==1.26.4
olefile
packaging==24.2
pandas==2.2.3
parso
pathy
patsy
pexpect
pickleshare
pillow==11.1.0
pkgutil_resolve_name
platformdirs
pooch
preshed
prompt_toolkit
propcache
protobuf==3.20.3
psutil
ptyprocess
pure_eval
pyarrow==19.0.1
pycparser
pydantic
pydeck==0.9.1
Pygments==2.19.1
Pympler==1.1
pyparsing
PySocks
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML
pyzmq
referencing==0.36.2
regex
requests==2.32.3
rich==13.9.4
rpds-py==0.23.1
safetensors
scikit-learn
scipy
seaborn
semver==3.0.4
sentence-transformers
shellingham
six==1.17.0
smart-open
smmap==5.0.2
spacy
spacy-legacy
spacy-loggers
srsly
stack_data
statsmodels
streamlit==1.12.0
sympy
thinc
threadpoolctl
tokenizers
toml==0.10.2
toolz
torch
tornado==6.4.2
tqdm
traitlets
transformers
typer
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3
unicodedata2
urllib3==2.3.0
validators==0.34.0
wasabi
watchdog==6.0.0
wcwidth
xxhash
yarl
zipp==3.21.0
zstandard==0.23.0
